.vbox {
    -fx-background-image:url('file:src/main/resources/image/pos_bg.jpg');
}
.button{
}
.button.achievement {
    -fx-pref-height: 40;
    -fx-pref-width: 80;
}
.gridpane{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
}


