.grade-button {
    -fx-background-color: linear-gradient(to bottom, #1E5799, #2989D8); /* 按钮背景颜色 */
    -fx-text-fill: white; /* 按钮文本颜色 */
    /*-fx-font-size: 16px; !* 按钮字体大小 *!*/
    /*-fx-font-family: Arial; !* 按钮字体 *!*/
    /*-fx-padding: 10px 20px; !* 按钮内边距 *!*/
    -fx-background-radius: 30px; /* 按钮圆角半径 */
    -fx-border-radius: 30px; /* 按钮边框圆角半径 */
    -fx-border-color: white; /* 按钮边框颜色 */
    -fx-border-width: 2px; /* 按钮边框宽度 */
}

.grade-button:hover {
    -fx-background-color: linear-gradient(to bottom, #2989D8, #1E5799); /* 悬停时的按钮背景颜色 */
}
